//--------
// COLORS
//--------

$dark-blue: #3d4852;
$green: #28c278;
$light-gray: #9aa0a5;
$orange: #f07e5e;
$white: #fff;
$yellow: #f4d759;


// Defined Colors
$primary: $dark-blue;

// Defined Button Colors
$primary-button: $green;
$secondary-button: $orange;


// Defined Hover Colors
$primary-hover: $yellow;

// Defined Text Colors
$primary-text: $dark-blue;
$secondary-text: $white;
$tertiary-text: $light-gray;
