.featured-content__card {
  background-color: $off-white;
}

.featured-content__card:nth-child(even) {
  background-color: $white;
}

.card-content__text {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
  color: $primary-text;
  font-size: 30px;
  font-weight: bold;
}

.card__body {
  margin-bottom: 20px; 
  color: $primary-text;
  font-size: 18px;
  line-height: 1.667;
}

.card__button {
  display: block;
  width: 280px;
  height: 45px;
  margin: 0 auto;
  background-color: $tertiary-button;
  color: $white;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  text-align: center;
}

.card-content__images {
  text-align: center;
}

.card__image {
  display: inline-block;
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
}
