.featured-content__card {
  background-color: $off-white;

  @media(min-width: 1000px) {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    height: 360px;
    padding: 0 210px;
  }
}

// ALL EVEN CARD CSS RULES
.featured-content__card:nth-child(even) {
  background-color: $white;

  @media(min-width: 1000px) {
    // Because of looing through cards
    // as arrays in Vue Component
    // had to nest selectors to reverse
    // column layout.
    .card-content__text {
      justify-self: flex-end;
      grid-column: 2 / 3;
      
    }
    
    .card-content__images {
      grid-column: 1 / 2;
      justify-self: flex-start;
    }
  }
}

.card-content__text {
  padding: 20px;

  @media(min-width: 1000px) {
    width: 490px;
    margin: 65px 0 40px;
    padding: 0;
  }
}

.card__title {
  margin-bottom: 20px;
  color: $primary-text;
  font-size: 30px;
  font-weight: bold;
}

.card__body {
  margin-bottom: 20px;
  color: $primary-text;
  font-size: 18px;
  line-height: 1.667;
}

.card__button {
  display: block;
  width: 280px;
  height: 45px;
  margin: 0 auto;
  background-color: $tertiary-button;
  color: $white;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  text-align: center;

  @media(min-width: 1000px) {
    width: 120px;
    height: 45px;
    margin: 0;
  }
}

.card__image-container {
  display: inline-flex;
  flex-direction: row;
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
  background-color: #fff;

  @media(min-width: 1000px) {
    margin: 0;
    margin-top: 40px;
  }
}

.card-content__images {
  text-align: center;  
  @media(min-width: 1000px) {
    justify-self: flex-end;
  }
}

.card-content__image--link {
  @media(min-width: 1000px) {
    :not(:first-child) {
      margin-left: 20px;
    }
  }
}

