.filters {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: $white;

  @media(min-width: 1000px) {
    height: 100px;
    margin: 0 210px;
  }
}

.filters-list {
  width: 280px;
  height: 45px;
  margin: 10px 20px 0;
  padding-left: 20px;
  border: 2px solid #cdd1d4;
  border-radius: 0;
  background: url('/img/chevron.svg') no-repeat;
  background-position: top 3px right;
  color: $tertiary-text;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  appearance: none;

  @media(min-width: 1000px) {
    width: 280px;
    margin: 0;
    margin-right: 20px;
  }
}

.filters__button {
  width: 280px;
  height: 45px;
  margin: 10px 20px;
  background-color: $secondary-button;
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  border: none;

  @media(min-width: 1000px) {
    margin: 0;
    width: 280px;
  }
}


