.filters {
  padding: 25px 20px;
  background-color: $white;

  @media(min-width: 580px) {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 55px;
  }
 
  @media(min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  @media(min-width: 1280px) {
    padding: 25px 105px;
  }
  
  @media(min-width: 1600px) {
    padding: 25px 210px;
  }
}

.filters-list {
  height: 45px;
  margin-bottom: 20px;
  padding-left: 20px;
  transition: all .3s;
  border: 2px solid #cdd1d4;
  border-radius: 0;
  background: url('/img/chevron.svg') no-repeat;
  background-position: top 3px right;
  color: $tertiary-text;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  appearance: none;

  &:hover {
    cursor: pointer;
    border-color: $dark-blue;

  }

  @media(min-width: 580px) {
    width: 100%;
    margin: 0;
  }
  
  @media(min-width: 1600px) {
    width: 280px;
  }

  @media(min-width: 1601px) {
    width: 100%;
  }
}

.filters__button {
  height: 45px;
  transition: all .3s;
  background-color: $secondary-button;
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-weight: bold;
  border: none;
  
  &:hover {
    background-color: #fd9476;
    cursor: pointer;
  }

  @media(min-width: 580px) {
    width: 100%;
    margin: 0;
  }

  @media(min-width: 768px) {
    grid-column: 1 / 4;
  }
 
  @media(min-width: 1000px) {
    grid-column: 4 / 5;
  }
  
  @media(width: 1600px) {
    width: 280px;
  }

  @media(min-width: 1601px) {
    width: 100%;
  }
}



