.global-nav {
  position: fixed;
  z-index: 1;
  right: 0;
  width: 320px;
  height: 100vh;
  padding-top: 100px;
  overflow-x: hidden;
  transform: translateX(320px);
  transition: all .3s ease-in-out;
  background-color: $primary;

  @media(min-width: 1000px) {
    position: absolute;
    top: 0;
    right: 400px;
    width: 500px;
    height: 50px;
    padding-top: 0;
    background-color: transparent;
  }
}

.global-header__controls {
  grid-template-columns: 1fr 1fr;
}

.global-nav__button--animated-open {
  transform: translateX(0);
}

// Hamburger button stylings
.global-nav__button {
  justify-self: flex-end;
  width: 30px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: $primary;
  border: none;

  @media(min-width: 1000px) {
    display: none;
  }
}

// Middle of Icon
.global-nav__button-icon {
  display: block;
  position: relative;
  z-index: 9;
  width: 30px;
  height: 4px;
  transition-duration: .5s;
  border-radius: 5px;
  background-color: $white;
}


// Top & Bottom of Icon
.global-nav__button-icon::before,
.global-nav__button-icon::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  transition-duration: .2s;
  border-radius: 5px;
  background-color: $white;
}

// Positioning of top and bottom of Icon
.global-nav__button-icon::before {
  top: -10px;
}

.global-nav__button-icon::after {
  top: 10px;
}

// Animates on button click
// Forms `X`
.nav--active {
  position: fixed;
  height: 0;
}

.nav--active::before {
  top: 0;
  transform: rotate(135deg);
}

.nav--active::after {
  top: 0;
  transform: rotate(-135deg);
}

.nav-list {
  justify-content: center;
  height: 40vh;

  @media(min-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(4, 125px);
    align-content: center;
    height: 50px;
    padding-top: 0;
  }
}

.nav-list__item {
  align-self: end;
  padding: 10px 0;
}

.nav-list__link {
  transition: all .5s;
  border-bottom: 1px solid #777;
  color: $secondary-text;
  font-size: 24px;
  font-weight: bold;
  
  &:hover {
    color: $primary-hover;
  }

  @media(min-width: 1000px) {
    border-bottom: 0;
    font-size: 14px;
    text-decoration: none;
  }
}

