.hero-main {
  grid-template-rows: 1fr 1fr;
  min-width: 320px;
  height: 240px;
  background: url('~/img/bg-hero-landing-large-c_scale,w_700 webp.webp') no-repeat;
  background-position: right -175px center;
  background-size: cover;

  @media(min-width: 580px) {
    height: 300px;
    background: url('~/img/bg-hero-landing-large-c_scale,w_1000 webp.webp') no-repeat;
    background-position: right -150px center;
    background-size: cover;
  }
  
  @media(min-width: 768px) {
    height: 300px;
    background: url('~/img/bg-hero-landing-large-c_scale,w_1600 webp.webp') no-repeat;
    background-position: center -50px center;
    background-size: cover;
  }
  
  @media(min-width: 1000px) {
    height: 400px;
    background: url('~/img/bg-hero-landing-large-c_scale,w_1600 webp.webp') no-repeat;
    background-size: cover;
  }

  @media(min-width: 1600px) {
    height: 500px;
    background: url('~/img/bg-hero-landing-large-c_scale,w_1600 webp.webp') no-repeat;
    background-size: cover;
  }
}

.hero-main__title {
  align-self: end;
  padding-left: 20px;
  color: $primary-text;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  
  @media(min-width: 380px) {
    width: 380px;
    padding-bottom: 20px;
  }
  
  @media(min-width: 768px) {
    width: 420px;
    padding-left: 55px;
  }
  
  @media(min-width: 1000px) {
    width: 650px;
    font-size: 42px;
  }
  
  @media(min-width: 1280px) {
    padding-left: 105px;
  }
  
  @media(min-width: 1600px) {
    width: 850px;
    padding-bottom: 10px;
    padding-left: 210px;
    font-size: 54px;
  }
}

.hero-main__button {
  height: 45px;
  margin: 20px 20px 0;
  transition: all .3s;
  background-color: $primary-button;
  color: $secondary-text;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: #2dd484;
  }

  @media(min-width: 380px) {
    width: 280px;
    margin: 0 20px;    
  }
  
  @media(min-width: 768px) {
    margin: 0 55px;
  }

  @media(min-width: 1000px) {
    top: 254px;
    left: 105px;
    height: 60px;
  }

  @media(min-width: 1280px) {
    margin-left: 105px;
  }
  
  @media(min-width: 1600px) {
    width: 280px;
    margin: 0;
    margin-top: 30px;
    margin-left: 210px;
    font-size: 20px;
  }
}
