.hero-main {
  position: relative;
  min-width: 320px;
  height: 190px;
  background: url('~/img/bg-hero-landing-large-c_scale,w_600.jpeg');
  background-position: center;
  background-size: cover;
}

.hero-main__title {
  // position: absolute;
  // top: 30px;
  // left: 27px;
  width: 240px;
  padding: 30px 0 5px 20px;
  color: $primary-text;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
  text-align: left;
}

.hero-main__button {
  display: block;
  // position: absolute;
  // top: 90px;
  // left: 27px;
  width: 280px;
  height: 45px;
  margin: 10px auto;
  background-color: $primary-button;
  color: $secondary-text;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.Get_Started_Now {
  font-size: 20px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 3;
  position: absolute;
  left: 270px;
  top: 403.86px;
  z-index: 72;
}

